<a href="https://colab.research.google.com/github/D5Montoya/Master-Data-Science/blob/main/Ciclos_challenge_RESUELTO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ciclos

Lee con atención las instrucciones en los siguientes ejercicios y ejecuta:

1. Escribe un ciclo que permita imprimir los números del 1 al 10

In [ ]:
for x in range(11):
  if x > 0:
    print(x)
  else:
    pass

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

2. Escribe un ciclo que imprima los números pares entre el 30 y el 50 (incluyendo el 30 y excluyendo el 50)

In [ ]:
numbers=[30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
for x in numbers:
  if x % 2 == 0 and x < 50:
    print(x)

30
32
34
36
38
40
42
44
46
48

In [ ]:
for x in range(30,50,2):
  print(x)

30
32
34
36
38
40
42
44
46
48

3. Escribe un ciclo que imprima los valores entre el 3 y el 8 en pasos de 2 en 2.

In [ ]:
for x in range(9):
  if x < 3:
    pass
  elif x == 3 or x == 5 or x == 7:
    print (x)

3
5
7

In [ ]:
for x in range(3,8,2):
  print(x)

3
5
7

4. Escribe un ciclo que recorra la siguiente lista e imprima cada nombre de pokemon:

In [ ]:
pokemon = ['Bulbasaur', 'Ivysaur', 'Squirtle', 'Venusaur', 'Charmander', 'Squirtle', 'Charmeleon', 'Pidgey', 'Pikachu', 'Squirtle']

In [ ]:
for poke in pokemon:
  print(poke)

Bulbasaur
Ivysaur
Squirtle
Venusaur
Charmander
Squirtle
Charmeleon
Pidgey
Pikachu
Squirtle

5. Escribe un ciclo que recorra la lista pokemon. En caso de encontrarnos con el nombre 'Squirtle' al iterar la lista, imprima un mensaje con el siguiente formato:

index - pokemon - Vamo a calmarno

Donde:
- index es número de posición en la lista donde encontramos 'Squirtle'. Debe ser una variable.
- pokemon es el nombre del pokemon que estamos buscando
- "Vamo a calmarno" es la frase de nuestro pokemon.

In [ ]:
for poke in pokemon:
  if poke == 'Squirtle':
    index = pokemon.index('Squirtle')
    print(index,'-',poke, '- Vamo a calmarno')

2 - Squirtle - Vamo a calmarno
2 - Squirtle - Vamo a calmarno
2 - Squirtle - Vamo a calmarno

6. Del 0 al 20, muestra los valores en este rango de de 3 en 3, mediante un ciclo while (incluyendo al 20). Utiliza un condicional IF dentro del ciclo para detenerlo (utiliza break).

In [ ]:
i = 0
while i <= 20:
  print(i)
  if (i == 21):
    break
  i += 3

0
3
6
9
12
15
18

7. Repite el ejercicio del punto 6 pero utilizando sólo la condicional del while.

In [ ]:
i = 0
while i < 21:
  print(i)
  i += 3

0
3
6
9
12
15
18

8. Escribe un ciclo para imprimir los números impares entre el 0 y el 10. Utiliza una condicional junto con la palabra reservada "continue".

In [ ]:
for x in range(11):
  if x % 2 == 0:
    continue
  print(x)

1
3
5
7
9

###Recursos extra para estudiar y ejercios

- Uso de [range en Python](https://www.w3schools.com/python/ref_func_range.asp)
- Articulo corto de [Ciclos](https://pythonparanovatos.com/blog/como-usar-bucles-en-python/)
- Ciclo for según [W3Schools](https://www.w3schools.com/python/python_for_loops.asp)
- Ciclo while según [W3Schools](https://www.w3schools.com/python/python_while_loops.asp)
- Ejercicios practicos en portal de [W3Schools](https://www.w3schools.com/python/python_exercises.asp)